<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>648293450203-pp5mmgnn8m5a1e3ehqr0763akj9hbfg3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.648293450203-pp5mmgnn8m5a1e3ehqr0763akj9hbfg3</string>
	<key>API_KEY</key>
	<string>AIzaSyBLekM7GNEGeskAdhmExbvQm0iuzcehGT8</string>
	<key>GCM_SENDER_ID</key>
	<string>648293450203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rmit.assignment3-group</string>
	<key>PROJECT_ID</key>
	<string>assignment3-group</string>
	<key>STORAGE_BUCKET</key>
	<string>assignment3-group.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648293450203:ios:ff53f39689eeab8f</string>
	<key>DATABASE_URL</key>
	<string>https://assignment3-group.firebaseio.com</string>
</dict>
</plist>